main {
    padding-top: 86px;
}

/*BANNER*/

.title {
    padding: 100px;
    background-image: url(../img/paintings/gogh-auto-retrato2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    overflow: hidden;
}

.text h2{
    font-size: 20px;
    opacity: 0.8;
    color: #fff;
    padding: 30px;
    background-color: #222;
    border-radius: 5px;
    width: 192px;
    height: 95px;
    margin: 55px 30px;
}

.text h2::after {
    content: ' |';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


/*BUSCA*/

.search {
    top: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.busca {
    border: 1px solid #daa520;
    border-radius: 18px 0 0 18px;
    width: 400px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    
}
.busca-botao {
    display: inline-block;
    width: 40px;
    padding: 8px;
    background-color: #daa520;
    border: none;
    border-radius: 0 18px 18px 0;
    cursor: pointer;
}
.busca-botao img {
    width: 20px;
}

/*ARTE POR PERIODO*/

.periodos-artisticos {
    margin: 50px 0;
    overflow: hidden;
    
}

.periodos-artisticos ul{
    flex-direction: column;
}

.periodos-artisticos hr {
    margin-top: 20px;
    margin-bottom: 40px;
}

.mov-card {
    margin-bottom: 40px;
    list-style: none;
    z-index: -10;
    box-shadow: 2px 5px 10px rgb(112, 112, 112);
    
}

.mov-foto {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.mov-foto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    
}

.mov-nome {
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: #000b;
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 9% 0;
    cursor: pointer;
    transition: all 0.5s;
}

.mov-nome:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*FRASE*/

.frase {
    background-color: #daa520;
    color: #f7f7eb;
    padding: 60px 0;
    text-align: center;
}

.frase q {
    font-size: 20px;
}

.frase span {
    font-size: 16px;
    display: block;
    padding-top: 15px;
}

