/*Aqui se encontra a estilização do body, header, footer, modal e de seletores padrões.*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #f7f7eb;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*BARRA DE MENU*/

header {
    position: absolute;
    z-index: 40;
}

.menu {
    width: 100%;
    height: 86px;
    background-color: #f7f7ebee;
    text-align: center;
    position: fixed;
}

.logo {
    display: inline-block;
    padding-top: 5px;
    float: left;
}

.logo h1{
    display: inline-block;
    color: #000;
    font-family: 'Nothing You Could Do', cursive;    
}

.logo img{
    display: inline-block;
    height: 50px;
}

.links {
    display: inline-block;
    font-size: 14px;
}

.navegacao {
    padding: 30px;
}

.navegacao ul, .navegacao li, .autenticacao li{
    display: inline-block;
}

.navegacao li:hover{
    border-bottom: 2px solid #DAA520;
}

.navegacao a {
    color: #000;
    padding: 30px;
}

.menu a {
    text-decoration: none;
}
.autenticacao {
    float: right;
    padding: 20px;

}

.botao{
    display: inline-block;
    width: 90px;
    border: 1px solid #DAA520;
    color: #DAA520;
    font-weight: bold;
    border-radius: 50px;
    padding: 7px;
    cursor: pointer;
}

.destaque{
    background-color: #DAA520;
    color: #fff;
}


/*RODAPÉ*/
.rodape {
    background-color: rgb(236, 227, 209);
    border: 1px solid #DEB887;
    font-size: 14px;
}

.rodape h4 {
    margin: 10px 0;
    font-size: 16px;
}

.rodape li {
    list-style: none;
}

.rodape a {
    text-decoration: none;
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.conteudo-footer, .contato {
    margin: 20px 0;
    justify-content: space-around;
    align-items: baseline;
}

.conteudo-footer li{
    padding: 5px 0;

}

.conteudo-footer a:hover, .email a:hover{
    color: #DAA520;
}

.redes_sociais img {
    height: 50px;
    float: left;
    margin: 10px;
}

.email span {
    padding: 5px;
}

.email img {
    height: 20px;
}

.finalizacao {
    margin: 30px;
    text-align: center;
    color: rgb(70, 70, 70);
}

.finalizacao span {
    color: #000;
}

/*MODAL*/

.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
    display: none;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    width: 30%;
    height: 440px;
    padding: 40px;
    border: 5px double #DAA520;
    box-shadow: 0 0 0 10px white;
    border-radius: 8px;
    position: relative;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    } /*mudar a posição do elemento em -60px, animando e voltando para o 0px*/
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.mostrar .modal {
    animation: modal 0.3s; /*duração da animação*/
}

.modal.register {
    height: 480px;
}

.modal img {
    width: 25%;
    margin: 15px 0;
}

.modal span {
    display: inline-block;
    font-size: 12px;
    padding: 7px;
    padding-bottom: 15px;
    color: #525252;
}

.fechar {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 7px;
    margin-top: 7px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    background-color: rgb(233, 197, 106);
}

.input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
}

.border-input {
    border-bottom: 1px solid rgb(70, 70, 70);
    margin: 13px 0;
    width: 100%;
}

.enter {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    background-color: #DAA520;
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.enter.face {
    background-color: #138af0;
}

