
/*Aqui se encontra a estilização do body, header, footer, modal e seletores padrões.*/


/*PADRÕES*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #f7f7eb;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 38px; /* PARA TÍTULOS */
}

h2 {
    font-size: 20px; /* PARA SUBTÍTULOS*/
}

p {
    font-size: 17px; /* PARA CORPO DO TEXTO*/
}

.container {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-principal {
    margin: 40px auto;
    text-align: center;
}

.botao-principal a{
    font-weight: bold;
    display: inline-block;
    color: #f7f7eb;
    background-color: #0387ca;
    font-size: 16px;
    border-radius: 50px;
    width: 200px;
    padding: 15px;
    transition: all 0.3s;
}


.botao-principal a:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #049eeb;
}


/*BARRA DE MENU*/

header {
    position: absolute;
    z-index: 40;
}

.menu {
    width: 100%;
    height: 86px;
    background-color: #f7f7ebee;
    text-align: center;
    position: fixed;
}

.logo {
    display: inline-block;
    padding-top: 5px;
    float: left;
}

.logo h1{
    display: inline-block;
    color: #000;
    font-family: 'Nothing You Could Do', cursive;    
}

.logo img{
    display: inline-block;
    height: 50px;
}

.links {
    display: inline-block;
    font-size: 14px;
}

.navegacao {
    padding: 30px;
}


.navegacao li, .autenticacao li{
    display: inline-block;
}

.navegacao a {
    color: #000;
    padding: 35px 30px;
    
}

.navegacao a:hover{
    transition: 0.2s linear;
    border-bottom: 3px solid #DAA520;
}

.page_atual{
    border-bottom: 3px solid #DAA520;
}

.autenticacao {
    float: right;
    padding: 20px;
}

.botao{
    display: inline-block;
    width: 90px;
    border: 2px solid #DAA520;
    color: #DAA520;
    font-weight: bold;
    border-radius: 50px;
    padding: 7px;
    cursor: pointer;
}

.destaque{
    background-color: #DAA520;
    color: #fff;
}

@media (max-width: 1150px) {
    .autenticacao { display: none; }
}

/*MINI MENU*/

.menu-mini img{
    float: right;
    width: 55px;
    margin: 15px;
    cursor: pointer;
    display: none;
}

@media (max-width: 820px) {
    .navegacao { display: none; }
    .menu-mini img{display: block;}
}

.sub-menu {
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    background-color: #f7f7eb;
    top: 70px;
    right: 5%;
    display: none;
    border-radius: 5px;
    border: 5px double #138af0;
    box-shadow: 0 0 0 8px #DAA520;
    
}

.sub-menu li {
    padding: 15px;
    border-bottom: 1px solid #138af0;
    font-size: 14px;
}

.sub-menu a {
    color: #D2691E;
}

.menu-mini:hover > .sub-menu {
    display: flex;
}

/* FRASE FINAL */

.frase {
    background-color: #daa520;
    color: #f7f7eb;
    padding: 60px 0;
    text-align: center;
}

.frase q {
    font-size: 20px;
}

.frase span {
    font-size: 16px;
    display: block;
    padding-top: 15px;
}


/*RODAPÉ*/
.rodape {
    background-color: rgb(236, 227, 209);
    border: 1px solid #DEB887;
    font-size: 14px;
}

.rodape h4 {
    margin: 10px 0;
    font-size: 16px;
}

.rodape a {
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.conteudo-footer, .contato {
    margin: 20px 0;
    justify-content: space-around;
    align-items: baseline;
}

.conteudo-footer li{
    padding: 5px 0;

}

.conteudo-footer a:hover, .email a:hover{
    color: #DAA520;
}

.redes_sociais img {
    height: 50px;
    float: left;
    margin: 10px;
}

.email span {
    padding: 5px;
}

.email img {
    height: 20px;
}

.finalizacao {
    margin: 30px;
    text-align: center;
    color: rgb(70, 70, 70);
}

.finalizacao span {
    color: #000;
}

/*MODAL*/

.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
    display: none;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    width: 23%;
    padding: 4%;
    border: 5px double #DAA520;
    box-shadow: 0 0 0 10px white;
    border-radius: 8px;
    position: relative;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    } /*mudar a posição do elemento em -60px, animando e voltando para o 0px*/
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.mostrar .modal {
    animation: modal 0.3s; /*duração da animação*/
}

.modal.register {
    height: 70%;
    width: 52%;
}

.modal img {
    width: 75px;
    margin: 15px 0;
}

.img-cadastro img{
    width: 330px;
    margin-right: 40px;
}

.modal span {
    display: inline-block;
    font-size: 12px;
    padding: 7px;
    padding-bottom: 15px;
    color: #525252;
}

.fechar {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 35px;
    color: #c8c8c8;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.5s;
}

.fechar:hover {
    color: #da3620;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.border-input {
    border-top: 1px solid rgb(70, 70, 70);
    margin: 5px 0 18px;
    width: 100%;
    text-align: left;
    font-size: 13px;
}

.enter {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    background-color: #DAA520;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.enter:hover {
    background-color: rgb(243, 185, 40);
}

.enter.face {
    background-color: #138af0;
}

.enter.face:hover{
    background-color: #049eeb;
}

.error li{
    background-color: #FFE4E1;
    color: #B22222;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    font-size: 15px;
}


/*animação de elementos*/

[data-anime] {
    opacity: 0;
    transition: 0.6s;
}

[data-anime="left"] {
   transform: translate3d(-60px, 0px, 0px);
}

[data-anime="right"] {
   transform: translate3d(60px, 0px, 0px);
}

[data-anime].animate {
   opacity: 1;
   transform: translate3d(0px, 0px, 0px);
}
