main {
    padding-top: 86px;
}

/*BANNER*/

.title {
    padding: 100px;
    background-image: url(../img/paintings/michelangelo-criacao-adao.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    overflow: hidden;
}

.text h2{
    font-size: 20px;
    opacity: 0.7;
    color: #fff;
    padding: 30px;
    background-color: #222;
}

/*BUSCA*/

.search {
    top: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.busca {
    border: 1px solid #daa520;
    border-radius: 18px 0 0 18px;
    width: 400px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    
}
.busca-botao {
    display: inline-block;
    width: 40px;
    padding: 8px;
    background-color: #daa520;
    border: none;
    border-radius: 0 18px 18px 0;
    cursor: pointer;
}
.busca-botao img {
    width: 20px;
}

/*ARTE POR PERIODO*/

.periodos-artisticos {
    margin: 30px 0;
    overflow: hidden;
    
}

.periodos-artisticos ul{
    flex-direction: column;
}

.periodos-artisticos hr {
    margin-top: 20px;
    margin-bottom: 40px;
}

.mov-card {
    margin-bottom: 30px;
    list-style: none;
    z-index: -10;
    
}

.mov-foto {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.mov-foto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    
}

.mov-nome {
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: #000b;
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 9% 0;
    cursor: pointer;
    transition: all 0.5s;
}

.mov-nome:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
