
/*BANNER*/

.galeria {
    overflow: hidden;
}

.imagens {
    margin-top: 86px;
    width: 100%;
    height: 90vh;
    position: relative;
    background-color: #000c;
}

.imagens img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0;
    animation: animacao 20s infinite;
    
}

.imagens img:nth-child(2) {
    object-position: top;
}

@keyframes animacao {
    25% {opacity: 1;}
    50% {opacity: 0;}
}

.imagens img:nth-child(1){
    animation-delay: 0s;
}
.imagens img:nth-child(2){
    animation-delay: 5s; 
}
.imagens img:nth-child(3){
    animation-delay: 10s;   
}
.imagens img:nth-child(4){
    animation-delay: 15s; 
}/*para as imagens não ficarem sobrepostas, é necessário adicionar um delay em cada imagem*/


/*APRESENTAÇÃO*/

.apresentacao {
    min-height: 500px;
    padding: 80px 0;
    position: relative;
}

.texto hr {
    margin: 20px 0;
}

.moldura {
    width: 100%;
    height: 500px;
    box-shadow: 2px 5px 10px rgb(112, 112, 112);
}

.texto-conteudo {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    top: 26%;
    left: 19%;
    width: 38%;
    height: 300px;
}

.texto-conteudo p {
    color: #363636;
}


@media (max-width: 1140px) {
    .texto-conteudo h1 {
        font-size: 30px;
    }
    .moldura {
        display: none;
    }
    .texto-conteudo {
        background-color: #DAA52055;
        border: 10px double #DAA520;
        padding: 40px;
        border-radius: 10px;
    }
    .apresentacao .flex {
        justify-content: space-between;
    }
}

.botao-quiz {
    margin: 0px 50px;
    background-color: #DAA520;
    box-shadow: 2px 2px 10px grey;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    color: #f7f7eb;
}

.botao-quiz:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: rgb(243, 185, 40);
}


/*QUIZ*/

#title_quiz {
    display: none;
}

.titulo-quiz {
    font-size: 22px;
    text-transform: uppercase;
    color: #DAA520;
    margin: 20px;
}

.combo-questao {
    display: none;
}

.pergunta {
    text-align: center;
    margin: 20px 0;
    color: rgb(65, 65, 65);
    background-color: #efefd0;
    padding: 5px;
}

.opcao {
    margin: 20px;
    padding: 20px;
    border: 2px solid #daa520;
    border-radius: 5px;
    width: 240px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s;
}

.opcao img {
    width: 195px;
    height: 190px;
    object-fit: cover;
}

.opcao:hover {
    background-color: #daa520;
    color: #fff;
    transform: scale(1.1);
}

/*RESULTADO DO QUIZ*/

#loading {
    display: none;
    margin-top: 150px;
}

.resultado-quiz {
    display: none;
}

.title-result-quiz {
    text-align: center;
    margin: 30px;
}

.image-result-quiz img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border: 8px double #daa520;
}

.text-result-quiz {
    width: 285px;
    margin: 50px;
    padding: 50px;
    text-align: center;
    color: rgb(37, 37, 37);
    background-image: url(../img/stain.png);
    background-size: cover;
}

/*ARTISTAS E OBRAS*/ 

.maiores_artistas {
    height: 600px;
}

.maiores_obras {
    background-color: #DAA520;
    height: 600px;
}

.maiores_artistas h2, .maiores_obras h2 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
}

.maiores_obras h2 {
    color: #f7f7eb;
}

.maiores_artistas hr, .maiores_obras hr{
    margin: 40px 0px;
}

.art {
    width: 25%;
    list-style: none;  
}

.art-card{
    margin: 12px;    
}

.art-foto {
    height: 50%;
    overflow: hidden;
    position: relative;
    /* border: 7px double #c78e3a; */
    border-radius: 50%;
    background-color: #000;
    box-shadow: 2px 5px 10px rgb(112, 112, 112);
    cursor: pointer;
}

.maiores_obras .art-foto{
    box-shadow: 2px 4px 10px rgb(76, 59, 15);
}
  
.art-foto img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s; /*delay no zoom*/
}
  
.art-foto img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); /*zoom na imagem*/
}

.art-nome {
    background-color: #000b;
    box-shadow: 0px 0px 22px 15px #000c;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 8px 0px 30px;
    color: white;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
}

.botao-art {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    color: #D2691E;
    overflow: hidden;
    position: relative;
    background-color: transparent; 
    cursor: pointer;
    outline: none;
    font-size: 45px;  
}

.botao-art:hover {
    color: rgb(241, 124, 40);
}

